{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Ikosenn -  About me{% endblock %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static  'stylesheets/components.css' %}">{% endblock %}
{% block content %}{% endblock %}
	<div class = "container">
		<div id = "bl-main">

		<!-- ABOUT SECTION -->
			<section>
				<div class = "class-box">
					<h2>Hi My Name is Kosen.</h2>
				</div>

			</section>

		<!-- MY PORTFOLIO -->

			<section id="bl-work-section">
				<div class="bl-box">
					<h2 >My Latests Works.</h2> 
				</div>
			</section>	

		<!-- DEEPEST THOUGHTS -->
			<section>
				<div class="bl-box">
					<h2>My deepest thoughts.</h2>
				</div>
			</section>	


		<!-- CONTACT -->
			<section>
				<div class="bl-box">
					<h2 >Contact Me.</h2>
				</div>
			</section>	

		</div>

	</div>