{% load staticfiles %}
<!doctype html>
<html lang ="en">
	<head>
		<meta charset="utf-8">
		{% block title %}{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="author" content="Ian Kosen">

    	<link rel="stylesheet" type="text/css" href="{% static  'bootstrap-3.3.4-dist/css/bootstrap.min.css' %}">

    	<script type="text/javascript" src="{% static 'javascript/vendor/modernizr-2.8.3.min.js' %}"></script>
    
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

	</head>

	<body>
		
		{% block content %}{% endblock %}
			
		<script type="text/javascript" src="j{% static 'javascript/jquery-1.11.2.min.js' %}"></script>
		<script type="text/javascript" src="j{% static 'bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{% static 'javascript/boxlayout.js' %}"></script>
		<script>
			$(function() {
				Boxlayout.init();
			});
		</script>		
	</body>

</html>
